<article class="pv4 bt bb b--black-10 ph3 ph0-l">

  <div>
    <!-- Heading -->
    <h2 appHeading class="f3">
      Tech Giant Invests Huge Money to Build a Computer Out of Science Fiction
    </h2>

    <!-- Text -->
    <p class="f5 f4-l" appText>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quis error, a aliquid porro quia sint eaque laboriosam itaque perspiciatis officia sunt dicta, eius esse deleniti? Sapiente dolore, asperiores sint.
    </p>
  </div>

  <!-- Text -->
  <p class="f6 gray mv0" appText>
    By <span class="ttu">Robin Darnell</span>
  </p>

  <!-- Text -->
  <time class="f6 db gray" datetime="" appText>
    Nov. 21, 2016
  </time>

</article>
